.card {
  width: 100%;
  max-width: 920px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  margin: 0 auto;
}

/* Card Headers */
.card h2 {
  text-transform: uppercase;
  color: var(--orange);
  font-size: 16px;
}

/* Card Images */
.card-img .card-img-main {
  border-radius: 20px;
}
