.card {
  width: 100%;
  max-width: 920px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  margin: 0 auto;
  gap: 4em;
}

/* Card Images Style */

.card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img-main {
  width: 90%;
  border-radius: 10px;
}

.card-img-thumbnail-container {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card-img-thumbnail-container img {
  width: 19%;
  border-radius: 10px;
}

/* Card content Style */

.card-content {
  margin-top: 30px;
}

.card-content h1 {
  font-size: 38px;
  line-height: 40px;
  margin-top: 20px;
}

.card-content h2 {
  text-transform: uppercase;
  color: var(--orange);
  font-size: 12px;
  letter-spacing: 1px;
}

.card-content .card-description {
  color: var(--dark-grayish-blue);
  margin-top: 30px;
  word-spacing: 2px;
  line-height: 24px;
}

.card-price {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 20px;
}

.card-price .card-discount-price {
  color: var(--black);
  font-weight: 700;
  font-size: 24px;
}

.card-price .card-discount {
  color: var(--orange);
  font-weight: 700;
  font-size: 14px;
  background-color: var(--pale-orange);
  padding: 2px 5px;
  border-radius: 5px;
}

.card-content .card-initial-price {
  margin-top: 8px;
  color: var(--grayish-blue);
  font-weight: 700;
  font-size: 14px;
  text-decoration: line-through;
}

.card-cart {
  display: flex;
  margin-top: 30px;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
}

.card-cart-quantity {
  display: flex;
  background-color: grey;
  padding: 9px;
  border-radius: 8px;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}
