.card {
  width: 100%;
  max-width: 920px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  margin: 0 auto;
}

/* Card content Style */

.card-content {
  margin-top: 5%;
}

.card h1 {
  font-size: 38px;
  line-height: 40px;
  margin-top: 20px;
}

.card h2 {
  text-transform: uppercase;
  color: var(--orange);
  font-size: 16px;
  letter-spacing: 1px;
}

/* Card Images Style */
/* .card-img .card-img-main {
  border-radius: 20px;
} */

.card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-img-main {
  width: 80%;
  border-radius: 10px;
}

.card-img-thumbnail-container {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card-img-thumbnail-container img {
  width: 17%;
  border-radius: 10px;
}
