nav {
  color: var(--dark-grayish-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5em;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5em;
}

.nav-left ul li {
  display: inline;
  padding: 0 10px;
}

.nav-left ul li a {
  color: var(--dark-grayish-blue);
}

.nav-left ul li a:hover {
  color: var(--dark-blue);
}

.nav-right .icon-cart {
  width: 20px;
}
